@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Conhecimentos turma Jovem Programador 2022</h1>
    <p>Lógica de programação</p>
    <p>Algoritmos</p>
    <p>Expressões Aritméticas</p>
    <p>Variáveis e tipos</p>
    <p>Padrão Camel Case</p>
    <p>Estrutura Sequencial</p>
    <p>Estrutura Condicional</p>
    <p>Estruturas Repetitivas</p>
    <p>Vetores</p>
    <p>Matrizes</p>
    <p>Debug</p>
    <p>Programação Orientação a Objetos</p>
    <p>Classes</p>
    <p>Métodos</p>
    <p>Conexão da aplicação com o banco de dados</p>
    <p>Testes Unitários</p>
    <p>Programação Web: MVC(Model - View - Controller)</p>
    <p>CRUD</p>
    <p>Chamada de api</p>
    <p>Uso do Git e Github</p>
    <p>Branch</p>
    <p>Publicar projeto</p>
</div>